<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/exit">Look at posts</a>
<form method="post">
    <input type="text" name="DataFromInput">
    <button type="submit">Submit</button>
</form>
</body>
</html>